### The Zen of Python

The Zen of Python is a collection of guiding principles for writing computer programs in the Python language.

The Zen of Python was written by Tim Peters in 1999, and has since become a popular reference for Python developers. 

Some of the key principles of the Zen of Python include simplicity, readability, and practicality.


The Zen of Python is part of the Python language itself, and can be accessed by typing "import this" into a Python interpreter.

In [ ]:
import this

### Writing our First Python Syntax

- Launch the Jupyter Notebook.

- Create a new Notebook.

- Type the following command:

`print("Hello World")`

- Press the Shift and Enter Key

In [ ]:
print("Hello world!")

If there are no errors and Hello World is displayed, hurray you have written your first python Syntax.

`Welcome to Python Programming`

The instruction `print("Hello World")`  displays the string "Hello world" on the screen.

The `print` is a built-in function in Python that is used to output data to the screen, or to a file.

### Variable

A variable in computer programming is a name that represent a value.

Simply put, a variable is a container for storing data values.

Examples:
    
`number = 2`

The number holds the value of 2

`name = "Selasi"`

The name holds the value of Selasi

In [1]:
number = 2

print(number)

2

In [2]:
name = "Selasi"
print(name)

Selasi

In [4]:
my_names = ["Kofi","Ama", "Kojo"]

In [6]:
print(my_names)

['Kofi', 'Ama', 'Kojo']

#### Standard rules for creating  Variable

- Variable names must start with a letter or an underscore (_) and can be followed by any combination of letters, digits, and underscores.

- Variable naming are case-sensitive meaning **X** and **x** are considered as different variables.

- Variable names should be meaningful and descriptive, it makes it easier to understand the code and to debug it.

- Avoid using python reserved words as variable name example **if, elif, else** etc

- Avoid spaces in variable name example **my name**, **my age**

In [16]:
my_school_data = ["Aaron",24,"Blossom academy"]

print(my_school_data)

['Aaron', 24, 'Blossom academy']

In [13]:
max = [7,8,247]

print(max)

[7, 8, 24]

In [ ]:
if 
elif
else
print
max
min

In [12]:
Blossomist = ["Aaron", "Eddy", "Joshua", "Keith"]

print(Blossomist)

['Aaron', 'Eddy', 'Joshua', 'Keith']

### Data Types

A data type or simply type is a classification of data which tells the compiler or interpreter how the programmer intends to use the data.

Simply, data types are used to specify the type of a variable

#### Basic Data Type In Python

The basic data type in python include:

1. Integer
2. Float
3. Boolean
4. String

#### Integer

An integer is a number with no decimal or fractional part and it includes negative and positive numbers, including zero.

Integers are represented as **int** in python

Examples include 2,33,-2,0

In [24]:
x  = 4
y = 0

x

4

To check the data type of a variable use the function **type()**

In [23]:
type(x)

int

In [26]:
print(type(x))

<class 'int'>

In [28]:
print(type(y))

<class 'int'>

#### Float

A float is a number with a decimal point.

Examples include 22.5, 55.3, 0.25, -3.4

In [33]:
a = 5.5
b = 22.0

In [34]:
a

5.5

In [35]:
type(a)

float

In [36]:
type(b)

float

#### Boolean

A boolean is a data type that has one of two possible values, **True (1)**, **False(0)**.

It is represented as **bool** in Python

In [37]:
True

True

In [38]:
bool(1)

True

In [39]:
bool(0)

False

#### String

A string is data type that consists of a sequence of characters that represent as text.

Strings are **immutable** meaning characters of a string cannot be replaced once created.

Strings are indicated in Python using the quotation marks(**""** or **''**)

Numbers placed within quoatation marks are strings.

It is represented as **str**.

In [45]:
my_name = "Kwaku"
age = 21

In [41]:
my_name

'Kwaku'

In [42]:
age

'21'

In [43]:
type(my_name)

str

In [46]:
type(age)

int

#### Casting

It is the process of converting the value of one data type to another.

Examples:  Converting an integer to float, converting a float to an integer etc

##### Converting a float to an integer
Use the function **int()** to convert a float to an integer

In [47]:
number = 34.4
print(number)

34.4

In [48]:
type(number)

float

In [49]:
figure = int(number)

In [50]:
print(figure)

34

In [51]:
type(figure)

int

In [52]:
number

34.4

##### Converting an integer to a float

Use the function float() to convert an integer to a float

In [53]:
num_int = 140

type(num_int)

int

In [54]:
num_float = float(num_int)

In [55]:
num_float

140.0

In [56]:
type(num_float)

float

#### Converting an integer to a string

Use the function str() to convert an  integer to a string

In [57]:
h = 5
type(h)

int

In [58]:
h_str =str(h)
h_str

'5'

In [59]:
type(h_str)

str

### Assignment Operator

The assignment operator is used to assign a value to a variable.

The symbol for the assigment operator in Python is **=**

In [60]:
Kofi = 9
Ama  = 10

In [61]:
Kofi

9

In [62]:
Ama

10

### Arithmetric Operators

|Operator||Action|
|----||----|
|+||addition|
|-||subtraction|
|*||multiplication|
|/|| division|
|\**||exponential|
|%||modulo|
|\//|| integer division|

In [66]:
# Addition
a = 45
b = 33

In [67]:
a+b

78

In [69]:
# Substraction
type(b-a)

int

In [70]:
a-b

12

In [74]:
#Division
type(a/b)

float

In [75]:
14/3.5

4.0

**The division operation returns a float even if the operands are integers**

In [76]:
#Integer Division
a//b

1

In [78]:
766577467 // 3

255525822

In [80]:
14 // 3

4

**The integer division returns the quotient of the division as the output which is an integer**

In [79]:
#Modulo
15%2

1

In [81]:
14 % 3

2

In [82]:
a%b

12

**The modulo operator returns the remainder of the divison.**

### Exponential operator

The exponential operator returns the results of raising the first operand to the power of the second operand.

The symbol of the exponential operator in Python is `**`

The symbol **^** does not mean power in Python

In [83]:
2**3

8

In [84]:
5**3

125

In [85]:
6**4

1296

### Comparison operators

|Operator||Meaning|
|----||----|
|<||less than|
|>||greater than|
|<=||less than or equals to|
|>=||greater than or equals to|
|==||equals to|
|!=|| not equals to|

In [87]:
apples = 44
banana = 22
oranges = 15
pawpaw = 22

In [88]:
apples < oranges

False

In [89]:
banana > oranges

True

In [90]:
apples <= oranges

False

In [91]:
apples >= pawpaw

True

In [92]:
banana == pawpaw

True

In [93]:
banana != apples

True

### Logical Operators

|Operator||Action|
|----||----|
|and (&)||evaluates if both sides are True|
|or (\|)||evaluates if at least one side is True|
|not||inverses a boolean|

In [94]:
(banana == pawpaw) and (banana != apples)

True

In [95]:
(apples >= pawpaw) | (banana > oranges)

True

In [96]:
not (apples < oranges)

True