**Control Flow**

The control flow refers to how a program codes is executed.

Example of Control flow:

- if-else statement
- for loops
- while loops
- break and continue statement
- try and except statement

### If-else statement

The if statement runs a block of codes if a condition is true and the else statement runs if the condition is false.

if condition:
    # code to be executed if condition is true
else:
    # code to be executed if condition is false

In [1]:
if 5==5:
    print("Give Eddy kube toffee")

Give Eddy kube toffee

In [1]:
today = "Ernestina"
if today == "Ernestina":
    print("Happy Birthday Ernestina")

Happy Birthday Ernestina

In [2]:
if 5==6:
    print("Equal")

In [3]:
if 5==6:
    print("Equal")
else:
    print("it is not equal")

it is not equal

In [4]:
day = "midnight"

if day == "Morning":
    print("Good Morning")
elif day == "Afternoon":
    print("Good Afternoon")
elif day == "midnight":
    print("Good midnight")
else:
    print("Good Evening")

Good midnight

In [ ]:
input("What is your name")

In [3]:
h = 100
print(f"{h} is hundred)

SyntaxError: unterminated string literal (detected at line 2) (831610015.py, line 2)

In [5]:
number = int(input("Enter a number\n"))

if number <= 10:
    print("Number is less than equal to 10")
    
elif number >10 and number <= 20:
    print("Number is greater than 10 but less than or equal to 20")
    
elif number >20 and number <= 30:
    print("Number is greater than 20 but less than or equal to  30")
    
else:
    print("Number is greater than 30")

Enter a number
45
Number is greater than 30

### Nested Condition

In [ ]:
age = int(input("Enter a age\n"))

if number % 2 == 0:
    # The number is even
    if age > 5:
        print("The number is even and greater than 5.")
    else:
        print("The number is even and not greater than 5.")

In [ ]:
num = int(input("Enter a number\n"))

if num > 10:
    print(f"{num} is greater than  10")
elif num == 10:
    print(f"{num} is equal 10")
else:
    print(f"{num} is less than 10")
    if num%3 ==0:
        print(f"{num} is a multiple of 3")
    else:
        print(f"{num} is not a multiple of 3")

### for loop

A for loop is used to iterate over a sequence(eg list,string, tuple) and execute a block of code for each item in the sequence.

for item in sequence:
    #code to execute

In [2]:
name = "AdJoa"

for eddy in name:
    print(eddy)

A
d
J
o
a

In [8]:
num = [2,5,4,7,8,9,0]

for i in num:
    if i > 4 :
        print(i)
    else:
        print(f"{i} is less than 4")

2 is less than 4
5
4 is less than 4
7
8
9
0 is less than 4

In [ ]:
name_char = []

name = "Selasi"

for letter in name:
    name_char.append(letter)

In [9]:
name_char

['S', 'e', 'l', 'a', 's', 'i']

In [11]:
list_numbers = [3,12,23,4,5,7,11,9]

for number in list_numbers:
    
    if number >10:
        print(number)
        
    else:
        print(f"{number} is less than 10")

3 is less than 10
12
23
4 is less than 10
5 is less than 10
7 is less than 10
11
9 is less than 10

In [11]:
list_numbers = [3,12,23,4,5,7,11,9]

for number in list_numbers:
    if number >10:
        print(number)

12
23
11

In [12]:
list_numbers = [3,12,23,4,5,7,11,9]
new_list = []
for x in list_numbers:
    if x%3==0:
        new_list.append(x)
    
new_list

[3, 12, 9]

In [13]:
list_numbers = [3,12,23,4,5,7,11,9]

num_gt_ten = []

for number in list_numbers:
    if number >10:
        num_gt_ten.append(number)
        
num_gt_ten

[12, 23, 11]

**range()** is a function that generate a sequence of numbers starting from 0(by default), increasing by 1 (by default) and stops before a specified number.

- **range(stop)**

- **range(start, stop)**

- **range(start, stop, step)**


- start - starting point
- stop - ending point(exclusive)
- step - interval

In [ ]:
range(6)

In [15]:
# Generate numbers from 0 to 5
for i in range(5):
    print(i)

0
1
2
3
4

In [16]:
numbers = []
for num in range(6):
    numbers.append(num)
    
numbers

[0, 1, 2, 3, 4, 5]

In [17]:
# Generate numbers from 10 to 20
for i in range(10,21):
    print(i)

10
11
12
13
14
15
16
17
18
19
20

In [18]:
# Generate numbers from 10 to 20
lst = []
for i in range(10,21):
    lst.append(i)
lst

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [19]:
# Generate even numbers from 10 to 20
for i in range(10,21,2):
    print(i)

10
12
14
16
18
20

In [20]:
for j in range(10,21,5):
    print(j)

10
15
20

In [22]:
# Iterating over the items in a dictionary using for loop

scores = {"Kofi":[33,45,39,68,90], "Ama":[59,70,80,68,88], "Akua":[44,98,60,52,70]}

In [23]:
scores.items()

dict_items([('Kofi', [33, 45, 39, 68, 90]), ('Ama', [59, 70, 80, 68, 88]), ('Akua', [44, 98, 60, 52, 70])])

In [29]:
scores.values()

dict_values([[33, 45, 39, 68, 90], [59, 70, 80, 68, 88], [44, 98, 60, 52, 70]])

In [30]:
scores.keys()

dict_keys(['Kofi', 'Ama', 'Akua'])

In [31]:
for key,value in scores.items():
#     print(key, "=>",value)
     print(f"{key} => {value}")

Kofi => [33, 45, 39, 68, 90]
Ama => [59, 70, 80, 68, 88]
Akua => [44, 98, 60, 52, 70]

In [32]:
for key,value in scores.items():
    print(f"{key} => {sum(value)}")

Kofi => 275
Ama => 365
Akua => 324

In [33]:
for key,value in scores.items():
    print(f"{key} => {max(value)}")

Kofi => 90
Ama => 88
Akua => 98

In [34]:
min_scores = []
for key,value in scores.items():
    min_scores.append((key,min(value)))
min_scores

[('Kofi', 33), ('Ama', 59), ('Akua', 44)]

### List Comprehension

In [35]:
# Normal For loop
squares = []
for i in range(1,6):
    squares.append(i**2)
squares

[1, 4, 9, 16, 25]

In [14]:
squares = [i**2 for i in range(1,6)]
squares

[1, 4, 9, 16, 25]

In [15]:
mult_two = [num*2 for num in range(10,21)]
mult_two

[20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

In [16]:
cubes  = [num**3 for num in range(1,6)]
cubes

[1, 8, 27, 64, 125]

In [39]:
squares = [num**2 for num in range(1,6)]
squares

[1, 4, 9, 16, 25]

In [18]:
even = []
for num in range(1, 11):
    if num%2 == 0:
        even.append(num)

In [19]:
even

[2, 4, 6, 8, 10]

In [20]:
#Generate a list of even numbers between 1 and 10
evens = [num for num in range(1, 11) if num % 2 == 0]
evens

[2, 4, 6, 8, 10]

In [44]:
string = "Blossom1 Academy"
chr = []
for i in string:
    if i.isalpha():
        chr.append(i.upper())
chr

['B', 'L', 'O', 'S', 'S', 'O', 'M', 'A', 'C', 'A', 'D', 'E', 'M', 'Y']

In [ ]:
string = "Blossom1 Academy"
uppercase_chars = [char.upper() for char in string if char.isalpha()]
print(uppercase_chars)

In [45]:
# a list of uppercase characters from a given string
string = "Blossom1 Academy"
uppercase_chars = [char.upper() for char in string if char.isalpha()]
print(uppercase_chars)

['B', 'L', 'O', 'S', 'S', 'O', 'M', 'A', 'C', 'A', 'D', 'E', 'M', 'Y']

In [21]:
numbers = [1, 2, 3, 4, 5]
new_numbers = [num if num % 2 == 0 else num * 2 for num in numbers]
print(new_numbers)

[2, 2, 6, 4, 10]

In [22]:
numbers = [1, 2, 3, 4, 5]
final_numbers = []
for num in numbers:
    if num%2==0:
        final_numbers.append(num)
    else:
        final_numbers.append(num*2)
final_numbers

[2, 2, 6, 4, 10]

### While loop

A while loop is used to repeatedly execute a block of code as long as a given condition is True, the code run repeatedly until a condition False is met

while condition:
    # code to execute

### Infinite loop

This is a loop whose exit condition is never met, the code continues to run indefinitely.

while True:
    print("Infinite loop")

In [1]:
#Display number from 10 to 1 using a while loop
number =10

while number>0:
    print(number)
    number -=1

10
9
8
7
6
5
4
3
2
1

In [23]:
#Display list of number from 10 to 1 using a while loop

number =10
list_numbers = []
while number>0:
    list_numbers.append(number)
    number-=1

In [24]:
list_numbers

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [4]:
num = 10
while num <51:
    print(num)
    num+=2

10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

**break**

This statement is used to terminate a loop prematurely and skip to the next part of the code.

In [5]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [6]:
while True:
    print("Infinite loop")
    break

Infinite loop

In [25]:
nums = [2,3,4,5,1,4,5,5]
total =0
for i in range(len(nums)):    
    while total<10:
        total = total + nums[i]
        break

In [26]:
total

14

**continue**

The continue keyword is used skip the current iteration of the loop and continues to the next iteration

In [9]:
for i in range(1,11):
    if i==5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [10]:
names = ["Akua","Akos","Adjoa","Akosua","Abena"]

for name in names:
    if name=="Akosua":
        continue
    print(name)

Akua
Akos
Adjoa
Abena

### Exception

An exception is a type of error that occurs when the interpreter encounters a problem while executing a program. When an exception occurs, the interpreter stops execution of the program and raises an error message.

Examples of built-in exceptions classes include `ValueError`, `TypeError`, `IndexError`, `NameError` etc

Exceptions are created using the try and except block of code.

In [29]:
x = int(input("Please enter a number:\n"))  
y= 10

try:    
    result = y/x
    print(result)
except ZeroDivisionError:
    print("You cannot divide by zero")

Please enter a number:
0
You cannot divide by zero

In [30]:
try:
    x = int("precious")
except ValueError:
    print("Could not convert value(string) to integer")

Could not convert value(string) to integer

In [19]:
my_dict = {"name": "John", "age": 30}
try:
    x = my_dict["school"]
    print(x)
except KeyError:
    print("Could not access dictionary with non-existent key")
finally:
    print("Done")

Could not access dictionary with non-existent key
Done