# Assignment On Data Types  

#### By A Team Including  
- Divine Adzove  
- Ernestina Boatemaa Kyere  
- Donna Botchway  
- Phoebe Adjei-Frimpong  
- Martha Etornam  
- Joseph Tugah

### Q1
List the basic data types in python and give one example each.

**Answer :**  
**a.** Integer  
Example is 1

**b.** Float   
Example is 5.3

**c.** Boolean  
Example is True

**d.** String  
Example is "Martha"

### Q2
Change the variable x = 4539.85 to :

(i) a string and assign it to a new variable y,

(ii) an integer and assign it to a new variable z

Print out the type of y and z.

In [1]:
#Create a variable to store a value
x = 4539.85

#Change the value to a string
y = str (x)

#Change the value to an integer
z = int (x)

#Print out the type of y and z
print ("The data type of 'y' is", type(y))
print("The data type of 'z' is", type(z))

The data type of 'y' is <class 'str'>
The data type of 'z' is <class 'int'>

### Q3

What data type would you use to store

a. The price of car?  
**Float**

b. The age of a person  
**Integer**

c. car plate number: plateNumber = "AV01-AFP"?  
**String**

d. The price of fuel  
**Float**

e. The number of students in the class  
**Integer**

f. The weight of a person  
**Float**

g. Check whether two figures are equal  
**Boolean**

i. The name of a  school  
**String**

j. The average result of the overall score of a student  
**Float**

k. The total number of vote cast  
**Integer**

### Q4
**Thomas Partey is arguably the best player in the Black Stars. He is a great addition to the team**

Split the statement above into **two statement_1** and **statement_2** such that statement_1 will be 'Thomas Partey is arguably the best player in the Black Stars' and statement_2 will be 'He is a great addition to the team'

Statement:

- **What is the length of statment 1?**
-**What is the length of statment 2?**
-**Is the length of statement 1 greater than statement 2**

In [3]:
#Create a variable to store the string
statement = str ("Thomas Partey is arguably the best player in the Black Stars. He is a great addition to the team")

#Split the statement with the dot and space delimeter
statements = statement.split(". ")

#Assign the first statement to a variable
statement_1 = statements [0]
print("Statement_1 :", statement_1)

#Assign the second statement to a variable
statement_2 = statements [1]
print("Statement_2 :", statement_2)

#Print the lenght of statement_1
a = len(statement_1)
print("The length of statment 1 is", a)

#Print the lenght of statement_2
b = len(statement_2)
print("The length of statment 2 is", b)

#The length of statement 1 greater than statement 2
c = a > b
print("The statement above is", c)

Statement_1 : Thomas Partey is arguably the best player in the Black Stars
Statement_2 : He is a great addition to the team
The length of statment 1 is 60
The length of statment 2 is 34
The statement above is True

### Q5
What values does python use to represent **True** and **False** respectively?  


*Answer:* **1** and **0** respectively

### Q6
Write a code to evaluate if the following statments are True or False.  

1. 78 is greater than 46 and less than 30 which is an odd number.

2. 8-2 is an even number or 8 is a is an odd number.

3. The number of characters in the word 'boostrap' is 7 and that of 'sample' is 6.

In [5]:
#Create variables to store the values
a = 78
b = 46
c = 30

#78 is greater than 46 and less than 30 which is an odd number.
Q1 = (a > b) and (a < c) and (c % 2 != 0)
print("The first statement above is", Q1)

#Create variables to store the values
d = 8 
e = 2

#8-2 is an even number or 8 is a is an odd number
Q2 = (d-e) % 2 == 0 or d % 2 != 0
print("The second statement above is", Q2)

#Create variables to store the strings
text1 = "boostrap"
text2 = "sample"

#The number of characters in the word 'boostrap' is 7 and that of 'sample' is 6
Q3 = len(text1) == 7 and len(text2) == 6
print("The last statement above is", Q3)

The first statement above is False
The second statement above is True
The last statement above is False

### Q7
Given the following python code,

`word='Hello, How are you?'`

Write Python code to return the following

- How
- How are you
- are
- ?
- Hello, How are you

In [6]:
#Store the string in a variable
word = "Hello, How are you ?"

#Split to create a list of strings
words = word.split(" ")
print("The list of strings :", words)

#Return 'How'
string1 = words[1]
print(string1)

#Return 'How are you'
string2 = " ".join(words[1:4])
print(string2)

#Return 'are'
string3 = words[2]
print(string3)

#Return '?'
string4 = words[4]
print(string4)

#Return 'Hello, How are you'
string5 = " ".join(words[0:4])
print(string5)

The list of strings : ['Hello,', 'How', 'are', 'you', '?']
How
How are you
are
?
Hello, How are you

### Q8
Given the following python code,

`sentence = "I am very excited"`

Write Python code to return 
- Convert sentence to upper case
- Convert sentence to lower case
- Convert sentence to title case
- Convert sentence to list of strings

In [7]:
#Create a variable to store the string
sentence = "I am very excited"

#Convert sentence to upper case
uppercase = sentence.upper()
print("Upper Case :", uppercase)

#Convert sentence to lower case
lowercase = sentence.lower()
print("Lower Case :", lowercase)

#Convert sentence to title case
titlecase = sentence.title()
print("Title Case :", titlecase)

#Convert sentence to list of strings
string_list = sentence.split()
print("List of strings:", string_list)

Upper Case : I AM VERY EXCITED
Lower Case : i am very excited
Title Case : I Am Very Excited
List of strings: ['I', 'am', 'very', 'excited']

### Q9
`word = 'OneThirtyEight'`

Using Python code extract the following from the variable word:
- One
- Thirty
- Eight
- OneThirty
- ThirtyEight
- ONETHIRTYEIGHT

In [8]:
#Create a variable to store the sting
word = 'OneThirtyEight'

#Extract 'One'
B1 = word [0:3]
print(B1)

#Extract 'Thirty'
B2 = word [3:9]
print(B2)

#Extract 'Eight'
B3 = word [9:]
print(B3)

#Extract 'OneThirty'
B4 = word [0:9]
print(B4)

#Extract 'ThirtyEight'
B5 = word [3:]
print(B5)

#Extract the string in upper case
B6 = word.upper()
print(B6)

One
Thirty
Eight
OneThirty
ThirtyEight
ONETHIRTYEIGHT

### Q10
Turn Ault'Kelly into a string and assign it to a variable  called name.

In [9]:
#Create a variable to store a string
name = "Ault'Kelly"

#Print the data type of the variable created
print ("The data type of the variable name is", type(name))

The data type of the variable name is <class 'str'>