# Assignment On Data Structures  

#### By A Team Including  
- Divine Adzove  
- Ernestina Boatemaa Kyere  
- Donna Botchway  
- Phoebe Adjei-Frimpong  
- Martha Etornam  
- Joseph Tugah

### Q1

Name the four built-in data structures in python. Give one examples for each

**Answer:**  
**a.** List  
Example is [1,2,3,4,5]

**b.** Tuple  
Example is tuple((1,2,3,4,3))

**c.** Sets  
Example is {1,2,3,4}

**d.** Dictionary  
Example is {"Phoebe":25, "Donna":14,"Divine":40,"Ernestina":24}

### Q2

State two differences between a list and a tuple in Python.

**Answer:**  
**a.** List makes use of the square brackets, [] whilst tuple makes use of the parenthesis, ().  

**b.** List is mutable, can be modified, whilst tuple is immutable, can not be modified.

### Q3
Make a list containing names of five animals with a variable name `animal_list`

Write a code for the following:
- Print the first two animals
- Print the last two animals
- Add three extra animals to the variable `animal_list`
- Remove the first two animals from the variable `animal_list`
- How many animals are in the `animal_list`?
- Create a variable animal_set which stores the set of animal_list 
- How many elements are in the animal_set?

In [57]:
#Create a list of animals
animal_list = ['Lion', 'Tiger', 'Ant', 'Giraffe', 'Rabbit']
print(animal_list)

#Print the first two animals
print("The first two animals are", animal_list[:2])

#Print the last two animals
print("The last two animals are", animal_list[-2:])

#Add three extra animals to the list
animal_list.extend(['Zebra', 'Dog', 'Cat'])
print("The extended list is", animal_list)

#Remove the first two animals from the list
del animal_list[:2]
print("After deletion,the list is", animal_list)

#Print the number of animals listed
print("The number of animals listed is", len(animal_list))

#Store the animal list as a set
animal_set = set(animal_list)
print(animal_set)

#Print the number of animals listed in the animal set
print("The number of animals listed in the set is", len(animal_set))

['Lion', 'Tiger', 'Ant', 'Giraffe', 'Rabbit']
The first two animals are ['Lion', 'Tiger']
The last two animals are ['Giraffe', 'Rabbit']
The extended list is ['Lion', 'Tiger', 'Ant', 'Giraffe', 'Rabbit', 'Zebra', 'Dog', 'Cat']
After deletion,the list is ['Ant', 'Giraffe', 'Rabbit', 'Zebra', 'Dog', 'Cat']
The number of animals listed is 6
{'Ant', 'Dog', 'Zebra', 'Cat', 'Rabbit', 'Giraffe'}
The number of animals listed in the set is 6

### Q4

Given a list:

suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]

a. Create a list called first containing only the two first items from suitcase.

b. Create a list called middle containing only the two middle items from suitcase.

c. Create a list called last made up only of the last two items from suitcase.

In [58]:
#Create a variable to store the list of items in a suitcase
suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]

#Create a list called first containing only the two first items from suitcase.
first = list(suitcase[:2])
print("The two first items from the suitcase list are", first)

#Create a list called middle containing only the two middle items from suitcase.
middle = list(suitcase[2:4])
print("The two middle items from the suitcase list are", middle)

#Create a list called last containing only the two last items from suitcase.
last = list(suitcase[-2:])
print("The two last items from the suitcase list are", last)

The two first items from the suitcase list are ['sunglasses', 'hat']
The two middle items from the suitcase list are ['passport', 'laptop']
The two last items from the suitcase list are ['suit', 'shoes']

### Q5
Write a python code to insert 35 into the list below. Make sure it is inserted in the right position to maintain the order of the data.

`values = [20,25,30,40,45,50,55,60,65,70]`

In [59]:
#Create a variable to store a list of values.
values = [20,25,30,40,45,50,55,60,65,70]

#Insert 35 into the list of values stored
values.insert(3,35)

#Print out the updated list
print("The new list is", values)

The new list is [20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70]

### Q6

Given that Python lists and Python tuples are quite similar â€“ when might you prefer to use a tuple over a list?

**Answer:** One will prefer to use a tuple over a list when using a temporary variable knowing it will be discarded without modifying.

### Q7
Create a dictionary with 5 Ghana regions and their capitals and store it in the variable `region_capital`

- Print out the keys of region_capital
- Print out the values of region_capital

In [60]:
#Create a dictionary
region_capital = {"Greater Accra":"Accra",
                  "Eastern Region":"Koforidua",
                  "Central Region":"Cape Coast",
                  "Volta Region":"Ho",
                  "Ashanti Region":"Kumasi"}

#Print out the keys of the dictionary created
print(region_capital.keys())

#Print out the values of the dictionary created
print(region_capital.values())

dict_keys(['Greater Accra', 'Eastern Region', 'Central Region', 'Volta Region', 'Ashanti Region'])
dict_values(['Accra', 'Koforidua', 'Cape Coast', 'Ho', 'Kumasi'])

### Q8

`values = [3,4,5,6,3,4,3,5,2,4,2,5,6,1,6]`

Using the codes above answer the following questions:
- What is the total number of elements in values?
- What is the highest occuring number in the values variable?
- Convert values into a set and store it into a variable named `values_set`
- How many elements are in the variable values_set?

In [61]:
#Create a variable to store a list of values.
values = [3,4,5,6,3,4,3,5,2,4,2,5,6,1,6]

#Print the total number of elements in values
print("The total number of elements in values is", len(values))

#Print the highest occuring number in the values variable
print("The highest occuring number in the values variable is", max(values))

#Convert values into a set
values_set = set(values)
print("Values converted into a set is displayed as", values_set)

#Number of elements in the variable values_set
print("The number of elements in the values_set is", len(values_set))

The total number of elements in values is 15
The highest occuring number in the values variable is 6
Values converted into a set is displayed as {1, 2, 3, 4, 5, 6}
The number of elements in the values_set is 6

### Q9
Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are the square of the keys.

In [62]:
#Create a dictionary with keys 1 to 15 and values as the square of the keys.
square_dict = {a: a**2 
               for a 
               in 
                   range(1, 16)}

#Display content of dictionary created
print(square_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

### Q10
Write a Python program to create a dictionary of keys x, y, and z where each key has as value a list from 11-20, 21-30, and 31-40 respectively. Access the fifth value of each key from the dictionary.

In [63]:
#Create a dictionary of keys x, y, and z with list values ranging from 11-20, 21-30, and 31-40 respectively.
range_dict = {
    'x': list(range(11, 21)),
    'y': list(range(21, 31)),
    'z': list(range(31, 41))
}

# Access and print the fifth value of each key
print("The fifth value of the dictionary key 'x' is:", data_dict['x'][4])
print("The fifth value of the dictionary key 'y' is:", data_dict['y'][4])
print("The fifth value of the dictionary key 'z' is:", data_dict['z'][4])

The fifth value of the dictionary key 'x' is: 15
The fifth value of the dictionary key 'y' is: 25
The fifth value of the dictionary key 'z' is: 35